 body {
     font-family: 'Times New Roman', Times, serif;
     padding: 0;
     margin: 0;
     line-height: 1.2;
     background: #292727;
     color: #fff;
 }
 
 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0rem 5%;
     color: black;
     background-color: white;
     position: fixed;
     top: 0;
     left: 0;
     width: 90%;
     z-index: 1000;
     transition: background-color 0.3s ease;
 }
 
 .bg-video-header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     overflow: hidden;
 }
 
 .bg-video-header video {
     object-fit: cover;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
 }
 
 nav ul {
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
     justify-content: space-around;
     width: auto;
     transition: color 0.3s ease-in-out;
 }
 
 nav ul li {
     display: inline;
     margin: 0;
     transition: color 0.3s ease-in-out;
 }
 
 nav ul li a {
     color: black;
     text-decoration: none;
     font-weight: bold;
     font-size: 1rem;
     transition: color 0.3s ease-in-out;
     padding: 0 1rem;
 }
 
 nav ul li a:hover {
     color: #fdbb2d;
 }
 
 .container1 {
     font-family: 'Times New Roman', Times, serif;
     font-size: 70px;
     width: 100%;
     margin: 80px auto;
     overflow: hidden;
     padding: 6rem 0;
     text-align: center;
 }
 
 .container2 {
     line-height: 1.4;
     width: 80%;
     margin: 80px auto;
     overflow: hidden;
     padding: 6rem 0;
     text-align: center;
     font-size: 17px;
 }
 
 .container3 {
     width: 80%;
     margin: 80px auto;
     overflow: hidden;
     padding: 12rem 0;
     text-align: center;
 }
 
 .container4 {
     width: 80%;
     margin: 80px auto;
     overflow: hidden;
     padding: 6rem 0;
     text-align: center;
 }
 
 .container5 {
     width: 80%;
     margin: 80px auto;
     overflow: hidden;
     padding: 10rem 0;
     text-align: center;
     font-size: 18px;
 }
 
 .container img {
     max-width: 100%;
     height: auto;
     display: block;
     margin: 0 auto;
 }
 
 .hero {
     text-align: center;
     padding: 3rem 0;
     font-size: 18px;
     position: relative;
     z-index: 2;
 }
 
 .hero h1 {
     margin: 0;
     font-size: 2.5rem;
 }
 
 .section-title {
     text-align: center;
     margin: 2rem 0;
     color: #fdfcfc;
     font-size: 30px;
 }
 
 .round-image {
     border-radius: 60%;
     width: 250px;
     height: 300px;
     object-fit: cover;
 }
 
 .project {
     border: 7px solid #4a4a4a;
     padding: 1rem;
     margin: 1rem 0;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
 }
 
 .project:hover {
     transform: translateY(-5px);
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 }
 
 .project img {
     width: 40%;
     height: auto;
     border-radius: 3px;
     transition: transform 0.5s ease;
 }
 
 .project:hover img {
     transform: scale(1.1);
 }
 
 footer {
     color: black;
     background-color: white;
     text-align: center;
     padding: 1rem 0;
     margin-top: 2rem;
     width: 100%;
     transition: transform 0.5s ease;
 }
 
 .scrolling {
     background-color: rgba(255, 255, 255, 0.9);
     transition: color 0.3s ease-in-out;
 }
 
 .skill-item {
     padding: 10px;
     margin: 10px 0;
     background: #333;
     border-left: 5px solid #f78e2c;
     border-right: 5px solid #f78e2c;
     box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
 }
 
 .skill-item:not(:last-child) {
     margin-bottom: 20px;
 }